@model RolePageDTO

<h4 class="heading_a uk-margin-bottom">Güvenlik Rolleri</h4>
<form id="roleForm" asp-controller="Role" asp-action="Index" asp-area="admin" method="post">
	<div>
		<div class="uk-input-group">
			<div class="md-input-wrapper">
				<label>Rol</label>
				<input asp-for="Id" type="hidden" />
				<input asp-for="Method" type="hidden" />
				<input asp-for="Name" type="text" class="md-input label-fixed">
				<span class="md-input-bar "></span>
			</div>
			<span onclick="SubmitForm(event)" class="uk-input-group-addon"><a class="md-btn" href="#">Kaydet</a></span>
		</div>
	</div>
</form>
<table class="uk-table uk-table-hover">
	<thead>
		<tr>
			<th>Rol Adı</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@{
			if (Model != null && Model.Roles != null)
			{
				
				foreach (var item in Model.Roles)
				{
					
					<tr>
						<td>@item.Name</td>
						<td>
							<button onload="Alert()" onclick="EditRow(this)" type="button" data="@Newtonsoft.Json.JsonConvert.SerializeObject(item)">Düzenle</button>
							<button onclick="RemoveRow(this)" type="button" data="@Newtonsoft.Json.JsonConvert.SerializeObject(item)">Sil</button>
							
						</td>
					</tr>
				}
			}
			else
			{
				<tr colspan="3">
					<td>Gösterilecek Kayıt Bulunamadı</td>
				</tr>
			}
		}
	</tbody>
</table>

@section JsSection{
	<script>
		function SubmitForm() {
			var form = document.getElementById("roleForm");
			if (form != undefined && form != null) {
				document.getElementById("Method").value = "InsertOrUpdate"; //kaydetme ve güncelleme işleminde silme işlemi yapıl
				form.submit();
				FormClear();
			}
		}

		function EditRow(e) {
			if (e != undefined) {
				var data = JSON.parse(e.getAttribute("data"));
				document.getElementById("Id").value = data.Id;
				document.getElementById("Name").value = data.Name;
			}
		}
		function RemoveRow(e) {
			if (confirm("Satırı silmek istiyormusunuz")) {
				if (e != undefined) {

					var data = JSON.parse(e.getAttribute("data"));
					document.getElementById("Method").value = "Delete";
					document.getElementById("Id").value = data.Id;
					var form = document.getElementById("roleForm");
					form.submit();
					FormClear();
				}
			}
		}
		function Alert(){
			if(document.getElementById("Name")=="Admin"){
				alert("Admin bulundu");

			}
		}

		function FormClear() {
			document.getElementById("Method").value = "";
			document.getElementById("Id").value = "";
			document.getElementById("Name").value = "";
		}
	</script>
}
