@model UserRoleDTO

<h4 class="heading_a uk-margin-bottom">Güvenlik Rolleri</h4>
<table class="uk-table uk-table-hover">
	<thead>
		<tr>
			<th>Rol Adı</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Admin</td>
			<td>Düzenle</td>
			<td>Sil</td>
		</tr>
	</tbody>
</table>
